<div class="container htext" style="margin-top: 100px;">
    {{!-- fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-align: center">
                <span><h1>Hola {{persona}}!</h1></span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    {{!-- FIN fila 1 --}}
</div> {{!-- FIN container --}}